*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build
app/libs/*.aar
app/src/main/assets/models/**/*.onnx
app/src/main/assets/models/**/*.ort
*.apk
*.ap_
*.aab
.kotlin
